{% load static %}

<footer class="bg-body-tertiary text-center">
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col-12" style="text-align:center font-size:small">
                This website is free and open to all users and there is no login requirement.
                TripLexicon is funded by the following initatives:
                </br>
            </div>
        </div>
        <div class="row">

            <div class="col-3">
                <img class='img-fluid' src="{% static 'images/Logo-Goethe-University-Frankfurt-am-Main.svg' %}"
                    style="width: auto; height: 50px;" alt='Triplex_schem' />
            </div>

            <div class="col-3">
                <img class='img-fluid' src="{% static 'images/CPI_Logo_RGB_neu.svg' %}"
                    style="width: auto; height: 60px;" alt='Triplex_schem' />
            </div>

            <div class="col-3">
                <img class='img-fluid' src="{% static 'images/dzhk.png' %}" style="width: auto; height: 55px;"
                    alt='Triplex_schem' />
            </div>

            <div class="col-3">
                <img class='img-fluid' src="{% static 'images/TRR267_darkred_nobg.png' %}"
                    style="width: auto; height: 45px;" alt='Triplex_schem' />
            </div>
        </div>
    </div>
</footer>