{% extends 'TriplexDB/base.html' %}

{% block content %}
	
	<div class="card p-1 mx-4" style="width: 70rem;">
		<div class="card-body">
			<h4 class="card-title">Search for predicted triplexes by promoter gene symbol</h4>
			<br/>
		    <form method=POST action="{% url 'search_promoter' %}" class="col-xs-3">
		     	{% csrf_token %}
		        <input type="search" class="form-control me-2" placeholder="Search promoter gene symbol... (e.g. GAPDH, ACTB, RELA)" name="searched">
		        <br/>
		        <button type="submit" class="btn btn-success" style="color: white; background-color: #0c042e; border-color: white;">Search</button>
		    </form>
		    <br/>
		</div>

     </div>

	{% if searched %}
		<h4>Results for triplexes involving {{ searched }}</h4>
		<br/>
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">RNA</th>
		      <th scope="col">Transcript ID</th>
		      <th scope="col">Promoter</th>
		      <th scope="col">Score</th>
		      <th scope="col">E</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for triplex in result %}
				<tr>
					<td><i>{{ triplex.rna.transcriptgenesymbol }}</i></td>
					<td>{{ triplex.rna.transcriptid }}</td>
					<td><strong>{{ triplex.rem.remsymbols }}</strong></td>
					<td>{{ triplex.triplexalignerscore }}</td>
					<script>
						var evalue={{ triplex.triplexalignere }};
						// var round=parseFloat(evalue.toFixed(50));
						// var exp=round.toExponential();
						// var round=parseFloat(exp.toFixed(5));
						var exp=evalue.toExponential();
						document.write("<td>"+exp+"<td>")
					</script>
				</tr>
			{% endfor %}
		    </tbody>
		</table>

	{% else %}
	<br/>
		<h4><p class="mx-4">Promoter not found</p></h4>
	{% endif %}

{% endblock %}
