<div class="card p-1 mx-4" style="width: 50rem;">
	<div class="card-body">
		<h5 class="card-title">Search for predicted triplexes by RNA gene symbol (results will include all annotated transcripts)</h5>
		<br/>
	    <form method=POST action="{% url 'search_rna_symbol' %}" class="col-xs-3">
	     	{% csrf_token %}
	        <input type="search" class="form-control me-2" placeholder="Search RNA gene symbol... (e.g. MEG3, HOTAIR, MALAT1)" name="rna_symbol">
	        <br/>
	        <button type="submit" class="btn btn-success" style="color: white; background-color: #0c042e; border-color: white;">Search</button>
	    </form>
	    <br/>
	</div>
 </div>