{% extends 'TriplexDB/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<style>
	/*https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css*/
	select {
  margin: 50px 0px 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
 /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.input_region{
margin: 20px 25px 50px 0;
 width: 300px;
 /* padding: 5px 35px 5px 35px;*/
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.col-chrom{
	flex: 1 0 auto;
}

.col-pos{
	flex: 2 0 auto;
}

.chr{
margin: 20px 25px 50px 0;
  /*padding: 5px 35px 5px 35px;*/
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
 /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
}

.col-11{
	display: flex !important;
}

</style>

	<div class="card p-1 mx-4" style="width: 70rem;">
		<div class="card-body">
			<h4 class="card-title">Search for predicted triplexes by genomic region:</h4>
			<br> 
			
			
		<div class="row input-group ">
		<form action="{% url 'search_gen_region_results' %}" method="get" class="d-flex" role="search">

			<div class="col-chrom">
				<h4>Chromosome:</h4>
				<div class="col-11">
					<select name="chromosome" id="chr" class="chr">
				  {%for CHR in chrs%}
				  <option value="{{CHR}}"> {{CHR}}</option>
				  {% endfor %}
				</select>
				</div>
				
			</div>
		  
			<div class="col-pos ">
				<h4>Start position in chromosome:</h4>
				<div class="col-11">
				<input type="text" class="form-control me-2 input_region" placeholder="Start position in chromosome" name="start" >
			</div>
			</div>

			<div class="col-pos ">
				<h4>End position in chromosome:</h4>
				<div class="col-11">
				<input type="text" class="form-control me-2 input_region" placeholder="End position in chromosome" name="end">
			</div>
			</div>
		</div>

		<div class="row h-100">
				<div class="col-2">
				  <button class="btn d-flex search" style="background-color: #063944; color: #fff; border-color: #063944"
					type="submit">Search</button>
				</div>
		</div>
	</form>	    
</div>

<div class="row h-100 mt-5">
	<div class="col-md">
	  <h4>Or enter a .bed file of genomic regions:</h4>
	  The file needs to be in the bed format: chr start end, additional fields are allowed but not necessary.
	  The naming of the chromosomes needs to be chr1-22 or chrX or chrY.
	</div>
  </div>
  <div class="row h-100 mt-5">
	<div class="col-md">
		<form method="post" enctype="multipart/form-data" action="{% url 'search_gen_region_results' %}" >
			{% csrf_token %}
			<label for="file">Select a file:</label>
			<input type="file" accept=".bed" id="id_bed_file" name="bed_file">
			<input type="submit" value="Submit File">
		  </form>
	</div>
</div>

     </div>

{% endblock %}