<!--<div class="card p-1 mx-4" style="width: 50rem;">
        <div class="card-body">
                <h5 class="card-title">Search for triplex summary by RNA gene symbol</h5>
                <br/>
            <form method=POST action="{% url 'gene_detail_search' %}" class="col-xs-3">
                {% csrf_token %}
                <input type="search" class="form-control me-2" placeholder="Search RNA gene symbol... (e.g. MEG3, HOTAIR, MALAT1)" name="gene_symbol">
                <br/>
                <button type="submit" class="btn btn-success" style="color: white; background-color: #0c042e; border-color: white;">Search</button>
            </form>
        </div>
 </div>-->


 <div class="card p-1 mx-4" style="width: 70rem;">
    <div class="card-body">
        <h5 class="card-title">Search for triplex summary by RNA gene symbol</h5>
        <br/>
        <div class="input-group">
        <form action="{% url 'gene_detail_search' %}" method="get" class="d-flex" role="search">
            <div class="row">
                <h6>Select species:</h6>
                <div class="col">
                    <select name="species" id="species" class="species">
                        <option value="Human"> Human </option>
                        <option value="Mouse"> Mouse </option>
                    </select>
                </div>
                <br/>
            </div>
        </div>

        <div class="input-group">
            <div class="row h-100">
                <h6>Enter RNA gene symbol:</h6>
                <div class="col-dna">
                <input type="text" class="form-control input_region" placeholder="Search RNA gene symbol... (e.g. MEG3, HOTAIR, MALAT1)" name="gene_symbol" id="gene_symbol" >
                </div>
            </div> 
        </div>  
                
        <div class="input-group">
            <div class="row h-100">
                <div class="col-2">
                <button class="btn d-flex search" style="color: white; background-color: #0c042e; border-color: white;"
                    type="submit">Search</button>
                </div>    
            </div>
        </div>
        </form>
        <br/>
    </div>
</div>


