{% extends 'TriplexDB/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<style>
	/*https://stackoverflow.com/questions/1895476/how-do-i-style-a-select-dropdown-with-only-css*/
	select {
  margin: 50px 0px 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}
/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}

.input_region{
margin: 50px 25px 50px 25px;
 width: 300px;
  padding: 5px 35px 5px 35px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

</style>

	<div class="card p-1 mx-4" style="width: 70rem;">
		<div class="card-body">
			<h4 class="card-title">Search for predicted triplexes by genomic region:</h4>
			<br> 
			<div class="container-fluid">
				<div class="container">
				  <div class="row h-200">
					<div class="col-4">
						<h4>Chromosome:</h2>
					  </div>
					<div class="col-4">
					  <h4>Start position in chromosome:</h2>
					</div>
					<div class="col-4">
					  <h4>End position in chromosome:</h2>
					</div>
				  </div>
			  
			
			
			
		<div class="row input-group ">
		<form action="{% url 'search_gen_region_results' %}" method="get" class="d-flex" role="search">

			<div class="col-4">
				<select name="chromosome" id="chr" class="chr">
				  {%for CHR in chrs%}
				  <option value="{{CHR}}"> {{CHR}}</option>
				  {% endfor %}
				</select>
			</div>
		  
			<div class="col-4 ">
				<div class="col-11">
				<input type="text" class="form-control me-2 input_region" placeholder="Start position in chromosome" name="start" >
			</div>
			</div>

			<div class="col-4 ">
				<div class="col-11">
				<input type="text" class="form-control me-2 input_region" placeholder="End position in chromosome" name="end">
			</div>
			</div>
		</div>

		<div class="row h-100">
				<div class="col-2">
				  <button class="btn d-flex search" style="background-color: #063944; color: #fff; border-color: #063944"
					type="submit">Search</button>
				</div>
		</div>


	</form>
		    
</div>

     </div>

{% endblock %}